Repository heyjaywilson/peakfit, pull requests merged in 2024-10, with the labels that each got.

#44 docs: :books: fix npm commands
  README.md
Labels: docs, fix

#43 feat: :sparkles: add menu to the execise list view
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListView.swift
Labels: enhancement

#49 ci: :construction_worker: update release drafter to not have code related section
  .github/release-drafter.yml
Labels: chore

#55 chore: :wrench: fix regex
  .github/release-drafter.yml
Labels: chore

#56 chore: :wrench: fix regex for release drafter
  .github/release-drafter.yml
Labels: chore

#58 chore(format): :wrench: Modified scripts to support the new swift format in Xcode 16 toolchain
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListView.swift
  package.json
  scripts/format-changes.sh
  scripts/format.sh
Labels: enhancement, chore

#57 fix: :bug: rep and weight input uses number pad keyboard
  AppPackages/Exercises/Sources/Exercises/SetsAndReps/NewSetView.swift
Labels: fix

#64 feat: :sparkles: add menu to exercise list detail view
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListDetailView.swift
Labels: enhancement

#63 feat: :sparkles: sort exercise lists by list name
  AppPackages/AppEntry/Sources/AppEntry/AppEntry.swift
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListContainerView.swift
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListView.swift
Labels: enhancement

#65 feat(ExerciseList): :sparkles: add alphabetical sorting for exercises
  AppPackages/DataStorage/Sources/DataStorage/ExerciseList.swift
  AppPackages/DataStorage/Tests/DataStorageTests/ExerciseListTests.swift
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseListDetailView.swift
Labels: enhancement

#62 fix: :bug: use correct formatting for section titles in exercise detail view
  AppPackages/DataStorage/Sources/DataStorage/Exercise.swift
  AppPackages/Exercises/Sources/Exercises/ExerciseLists/ExerciseDetailView.swift
  AppPackages/Utilities/Sources/Utilities/Date.swift
Labels: fix

#66 feat: :sparkles: add a setting for rest time
  AppPackages/Settings/Sources/Settings/SettingsView.swift
Labels: enhancement
